name: Cleanup Artifacts

on:
  # schedule:
  #   # Run daily at 3:00 UTC
  #   - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  cleanup:
    name: Cleanup old artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Delete old artifacts
        uses: geekyeggo/delete-artifact@v4
        with:
          name: '*'
          useGlob: true
          failOnError: false

      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 30
          keep_minimum_runs: 10
